/**
 * App / Theme Colors
 ========================================================================== 
 * List of colors used in the app. 
 *
 */

/* Color Definition */
$background: #35495E;
$background-secondary: #F0F0F0;
$background-white: #FFFFFF;

$theme-primary: #40B883;
$theme-secondary: #F7F7F4;

$text-primary: #F7F7F4;
$text-secondary:#37474F;

$text-white: #FFFFFF;