/* Some dimensions */
$tiny-size: 5px;

$padding-xsmall: 10px;
$padding-small: 15px;
$padding-medium: 20px;
$padding-large: 40px;

$margin-xsmall: 10px;
$margin-small: 15px;
$margin-medium: 20px;
$margin-large: 40px;

$border-radius-xsmall: 3px;
$border-radius-small: 5px;
$border-radius-medium: 10px;
$border-radius-large: 20px;

$border-thickness: 1px;

$viewport-full-height: 100vh;
$viewport-full-width: 100vw;